In [2]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2021, 6, 27)
gdp = web.DataReader('GDP', 'fred', start, end)

In [3]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 46 entries, 2010-01-01 to 2021-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GDP     46 non-null     float64
dtypes: float64(1)
memory usage: 736.0 bytes

In [12]:
gdp.describe()

                GDP
count     45.000000
mean   18317.078022
std     2223.983923
min    14721.350000
25%    16358.863000
50%    18347.425000
75%    20242.215000
max    22061.503000

In [13]:
gdp

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828
2011-04-01  15496.189
2011-07-01  15591.850
2011-10-01  15796.460
2012-01-01  16019.758
2012-04-01  16152.257
2012-07-01  16257.151
2012-10-01  16358.863
2013-01-01  16569.591
2013-04-01  16637.926
2013-07-01  16848.748
2013-10-01  17083.137
2014-01-01  17104.555
2014-04-01  17432.909
2014-07-01  17721.657
2014-10-01  17849.912
2015-01-01  18003.399
2015-04-01  18223.577
2015-07-01  18347.425
2015-10-01  18378.803
2016-01-01  18470.156
2016-04-01  18656.207
2016-07-01  18821.359
2016-10-01  19032.580
2017-01-01  19237.435
2017-04-01  19379.232
2017-07-01  19617.288
2017-10-01  19937.963
2018-01-01  20242.215
2018-04-01  20552.653
2018-07-01  20742.723
2018-10-01  20909.853
2019-01-01  21115.309
2019-04-01  21329.877
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19520.114
2020-07-01  21170.252
2020-10-01  21494.731
2021-01-01  22061.503

In [4]:
gdp.loc['2021-01-01']

GDP    22061.503
Name: 2021-01-01 00:00:00, dtype: float64

In [5]:
gdp.loc["2019-04-01"]

GDP    21329.877
Name: 2019-04-01 00:00:00, dtype: float64

In [6]:
inflation = web.DataReader(['CPIAUCSL', 'CPILFESL'], 'fred', start, end)

In [7]:
inflation

            CPIAUCSL  CPILFESL
DATE
2010-01-01   217.488   220.633
2010-02-01   217.281   220.731
2010-03-01   217.353   220.783
2010-04-01   217.403   220.822
2010-05-01   217.290   220.962
...              ...       ...
2021-02-01   263.161   270.299
2021-03-01   264.793   271.214
2021-04-01   266.832   273.700
2021-05-01   268.551   275.718
2021-06-01   270.981   278.140

[138 rows x 2 columns]

In [8]:
inflation.head()

            CPIAUCSL  CPILFESL
DATE
2010-01-01   217.488   220.633
2010-02-01   217.281   220.731
2010-03-01   217.353   220.783
2010-04-01   217.403   220.822
2010-05-01   217.290   220.962

In [9]:
from pandas_datareader import wb
matches = wb.search('gdp.*capita.*const')

In [17]:
matches

,id,name,unit,source,sourceNote,sourceOrganization,topics
716,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
9260,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9262,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9264,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
9265,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [18]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=2005, end=2008)

In [19]:
dat

                    NY.GDP.PCAP.KD
country       year
Canada        2008    48495.204040
              2007    48534.174477
              2006    45857.996552
              2005    44471.080060
Mexico        2008     9587.636339
              2007     9622.047957
              2006     9547.333571
              2005     9270.656542
United States 2008    49319.478865
              2007    49856.281490
              2006    49405.767296
              2005    48499.812374

In [20]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('Canada', '2008') to ('United States', '2005')
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NY.GDP.PCAP.KD  12 non-null     float64
dtypes: float64(1)
memory usage: 285.0+ bytes

In [28]:
import requests
import json
data = requests.get('https://api.stlouisfed.org/fred/series?series_id=GNPCA&api_key=43be4fc471782325cab7d47238bf8962&file_type=json')

In [29]:
data.json()

{'realtime_start': '2021-06-28',
 'realtime_end': '2021-06-28',
 'seriess': [{'id': 'GNPCA',
   'realtime_start': '2021-06-28',
   'realtime_end': '2021-06-28',
   'title': 'Real Gross National Product',
   'observation_start': '1929-01-01',
   'observation_end': '2020-01-01',
   'frequency': 'Annual',
   'frequency_short': 'A',
   'units': 'Billions of Chained 2012 Dollars',
   'units_short': 'Bil. of Chn. 2012 $',
   'seasonal_adjustment': 'Not Seasonally Adjusted',
   'seasonal_adjustment_short': 'NSA',
   'last_updated': '2021-03-25 07:51:14-05',
   'popularity': 17,
   'notes': 'BEA Account Code: A001RX\n\n'}]}

In [37]:
import datapungi_fed as dpf
dpf('gnp')._meta

KeyError: 'observations'

In [38]:
!pip install full-fred

Collecting full-fred
  Downloading full_fred-0.0.9a2-py3-none-any.whl (47 kB)
Requirement already satisfied: pandas in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (1.0.5)
Requirement already satisfied: requests in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (2.24.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (1.18.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2.10)
Requirement already satisfied: six>=1.5 in c:\users\jyb\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->full-fred) (1.15.0)
Installing collected packages: full-fred
Successfully installed full-fred-0.0.9a2

In [39]:
!pytest

============================= test session starts =============================
platform win32 -- Python 3.8.3, pytest-5.4.3, py-1.9.0, pluggy-0.13.1
rootdir: C:\finance_data
plugins: html-3.1.1, metadata-1.11.0
collected 0 items

============================ no tests ran in 0.02s ============================

In [41]:
from full_fred.fred import Fred
fred = Fred('example_key.txt')

In [42]:
fred.get_api_key_file()

'example_key.txt'

In [43]:
fred.get_series_df('GDPPOT')

    realtime_start realtime_end        date               value
0       2021-06-28   2021-06-28  1949-01-01         2103.179936
1       2021-06-28   2021-06-28  1949-04-01  2130.7327210000003
2       2021-06-28   2021-06-28  1949-07-01  2159.4478710000003
3       2021-06-28   2021-06-28  1949-10-01         2186.907265
4       2021-06-28   2021-06-28  1950-01-01          2216.07306
..             ...          ...         ...                 ...
327     2021-06-28   2021-06-28  2030-10-01            23219.35
328     2021-06-28   2021-06-28  2031-01-01            23318.31
329     2021-06-28   2021-06-28  2031-04-01            23417.38
330     2021-06-28   2021-06-28  2031-07-01            23516.38
331     2021-06-28   2021-06-28  2031-10-01            23615.28

[332 rows x 4 columns]